<Layouts.app flash={@flash}>
  <.header>
    New My  todo
    <:subtitle>Use this form to manage my__todo records in your database.</:subtitle>
  </.header>

  <.my__todo_form changeset={@changeset} action={~p"/todos"} return_to={~p"/todos"} />
</Layouts.app>
